<!-- FIXME: Remove available scroll when opening the sidebar -->
<!-- TODO: Back to top button on blog -->
<!-- TODO: Back to intex button on blog -->
<!-- FUTURE: Add tags for the articles -->
<!-- FIXME: Multiple scrollbars when the height is too low -->
<!-- EASYPICK: Margin at the bottom on the blog -->
<!-- EASYPICK: Change left top icon for ? or Info -->
<!-- EASYPICK: Meta tags!!! -->

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<title>Alejandro del Río Santiago - Entrepreneur and engineer</title>
		<meta content="Alejandro del Río Santiago (@adelriosantiago) is an entrepreneur and programmer from Guadalajara, México. He codes, writes and designs." name="description">
		<meta content="adelriosantiago, @adelriosantiago, visualization, interaction, design, interface, startup, entrepreneur, engineer" name="keywords">
		<meta content="Alejandro del Río Santiago (@adelriosantiago)" name="author">
		<meta content="width=device-width" name="viewport">
		<meta content="index, follow" name="robots">
		<meta name="description" content="Alejandro del Río Santiago entrepreneur and engineer profile page and blog" />
		<meta name="keywords" content="meta tags,search engine optimization" />
		
        <script src="/javascripts/vendor/modernizr.js"></script>

        <!-- CSS's -->
        <link rel="stylesheet" href="/stylesheets/foundation.css" />
        <link rel="stylesheet" href="/stylesheets/custom.css" />
        <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.jscrollpane.custom.css" /> -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/bookblock.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/custombook.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.progresstracker.css">
        <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/tooltipster.css" /> -->

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Rambla:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600,700,500' rel='stylesheet' type='text/css'/>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet"/>
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>
    </head>
    <body id='blog' class='sliding_one'>
        <!-- Load the Facebook SDK -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1096286213717702";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <!-- Load analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-43591418-3', 'auto');
            ga('send', 'pageview');
        </script>

        <!-- Menu panel -->
        <div class="menu-panel">
            <div id='back_button'>
                <!-- <a href="http://www.adelriosantiago.com" target='_blank'><i class="fa fa-4x fa-home"></i></a> -->
                <a href="http://www.adelriosantiago.com"><img class='round-image' src="/images/squared-profile-small.jpg"></a>
                <!-- FIXME: Check if mobile (http://detectmobilebrowsers.com/) then show a box image -->
                <!-- <h5 class='index_legend'>Alejandro del Río</h5> -->
                <!-- <p>Alejandro del Río is a mexican entrepreneur and engineer.</p> -->
                <!-- TODO: Add shadow to sidebar -->
                <p>Hi and welcome to my blog! My name is <strong>Alejandro del Río</strong> and I'm a mexican entrepreneur and engineer. Know more about me at my <a href="http://www.adelriosantiago.com/">homepage</a>.</p>
            </div>
            <div class='row'>
                <div class='large-6 columns'>
                    <a href="http://www.adelriosantiago.com/"><i class="fa fa-3x fa-home"></i></a>
                </div>
                <div class='large-6 columns'>
                    <a href="https://twitter.com/adelriosantiago" target='_blank'><i class="fa fa-3x fa-twitter"></i></a>
                </div>
            </div>
            <%if (hasChapters) { %>
                <!-- <div>
					<h4 class='index_legend'>Languages</h4>                    
                    <ul id="menu-toc" class="menu-toc">
                        <li class="menu-toc-current"><a href="#item1">Self-destruction</a></li>
                        <li><a href="#item2">Why we die</a></li>
                        <li><a href="#item3">The honeymoon</a></li>
                        <li><a href="#item4">A drawing joke</a></li>
                        <li><a href="#item5">Commencing practice</a></li>
                    </ul>
                </div> -->
            <% } %>
        </div>

        <div class='container-border'>
            <div id="container" class='container'>
                <div class="bb-custom-wrapper">
                    <div id="bb-bookblock" class="bb-bookblock">
                        <% for(var i = 0; i < data.length - 1; i++) { %>
                            <div id='<%- data[i].slug %>' class="bb-item">
                                <div class="content">
                                    <div class="scroller">
                                        <div class='blog_article markdown-body'>
                                            <%- data[i].content %>
                                            <div class='write_date'><%- data[i].month %>, <%- data[i].year %></div>
                                            
                                            <!-- <div class="fb-share-button float-right" data-href="http://www.adelriosantiago.com/blog/artificial#eng" data-layout="button"></div> -->
                                            
                                            <div class="fb-comments" data-href="<%= commentPath %>" data-width="500px" data-numposts="10"></div>
                                            <div class="text-center">
                                                <a href="http://www.adelriosantiago.com/blog"><i id='back-index' class="fa hoves fa-3x fa-bars"><p class="text-center">Index</p></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }; %>
                    </div>
                    <nav>
                        <%if (hasChapters) { %>
                            <!-- <span id="bb-nav-prev">&larr;</span>
                            <span id="bb-nav-next">&rarr;</span> -->
							<!-- <h4 class='index_legend'>Languages</h4> -->
							<ul id="menu-toc" class="menu-toc">
								<% data.forEach(function(article) { %>
									<li><a href='#<%- article.slug %>' class='blog_button'><%- article.lang %></a></li>
								<% }); %>
							</ul>
                        <% } %>
                    </nav>						
							
                    <!-- <i class="fa fa-2x fa-home"></i> -->
                    <!-- <span id="tblcontents" class="menu-button">Table of Contents</span> -->
                    <!-- <i id='info-button-blog' class="fa hoves fa-3x fa-twitter absolute"></i> -->
                    <i id='tblcontents' class="fa hoves fa-3x fa-info-circle absolute info-button-blog"></i>
                </div>
            </div>
        </div>
       
        <!-- <div class="or-spacer">
            <div class="mask"></div>
        </div>

        <section id='footer' class='text-center'>
            <p id='copyright'>© 2015 Alejandro del Río</p>
        </section> -->
        
        <script src="/javascripts/vendor/jquery.js"></script>
        <script src="/javascripts/vendor/lodash.js"></script>
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
        <script src="/javascripts/foundation.min.js"></script>
        <!-- <script src="/javascripts/jquery.mousewheel.js"></script>
        <script src="/javascripts/jquery.jscrollpane.min.js"></script> -->
        <!-- Enable the following JS to enable touch events -->
        <!-- <script src="/javascripts/jquerypp.custom.js"></script> -->
        <script src="/javascripts/jquery.bookblock.js"></script>
        <!-- <script type="text/javascript" src="/javascripts/jquery.tooltipster.js"></script> -->
        <script src="/javascripts/page.js"></script>
        <script>
            $(function() {
               Page.init();
            });
        </script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>
