<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>gitarticle testing</title>
	<meta name="description" content="testing">
	<meta name="author" content="testing">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- CSS's -->
	<link rel="stylesheet" href="/stylesheets/foundation.css" />
	<link rel="stylesheet" href="/stylesheets/custom.css" />
	
	<!-- include the jQuery and jQuery UI scripts -->
	<script src="https://code.jquery.com/jquery-2.1.1.js"></script>
	<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
					
	<!-- plus a jQuery UI theme, here I use "flick" -->
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">

	<script src="/javascripts/bootslider.js"></script>
	<link rel="stylesheet" href="/stylesheets/bootslider.css" />
	
	<link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/custom.css" />
	
	<style>
		#filtered .gitarticle {
			display: none;
		}
		#filtered .gitarticle.active {
			display: block;
		}
	</style>
	
</head>
<body>
	<input id="gitslider-back" type="text" data-provide="slider" data-slider-id="gitslider-front" data-slider-ticks="<%- JSON.stringify(range) %>" data-slider-ticks-labels='<%- JSON.stringify(range) %>' data-slider-min="0" data-slider-max="<%- JSON.stringify(range.length - 1) %>" data-slider-step="1" data-slider-value="0" data-slider-tooltip="hide" />
	<p id="slider_value"></p>
	
	<div id="filtered">
		<% for(var i = 0; i < data[0].length; i++) { %>
		   <div class="gitarticle markdown-body">
		   		<div class="hash"><%= data[0][i] %></div>
				<div class="date"><%= data[1][i] %></div>
				<div class="message"><%= data[2][i] %></div>
				<div id='<%- data[3][i].slug %>' class="bb-item">
					<div class="content">
						<div class="scroller">
							<div class='blog_article markdown-body'>
								<%- data[3][i].content %>
								<div class='write_date'><%- data[3][i].month %>, <%- data[3][i].year %></div>
							</div>
						</div>
					</div>
				</div>
				

				
		   </div>
		<% }; %>
	</div>
	
	<script>
		$( document ).ready(function() {
			$('#gitslider-back').slider().on('change', function(ev){
				$('#slider_value').html(ev.value.newValue);
				
				//Update the text content
				$('div#filtered').children().removeClass('active');
				$("div#filtered div:nth-child(" + (ev.value.newValue + 1) +")").addClass("active");
				//TODO: Update the commit message
				
				//$('#commit_message').html(data[2][ev.value.newValue]);
				//TODO: Update the commit date
				
				
			});
			
			//TODO: Trigger a change here on the commit number 1
			
		});
	</script>
</body>
</html>