<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>gitarticle testing</title>
	<meta name="description" content="testing">
	<meta name="author" content="testing">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
		
	<!-- include the jQuery and jQuery UI scripts -->
	<script src="https://code.jquery.com/jquery-2.1.1.js"></script>
	<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
					
	<!-- plus a jQuery UI theme, here I use "flick" -->
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">

	<script src="javascripts/bootslider.js"></script>
	<link rel="stylesheet" href="stylesheets/bootslider.css" />
	
	<style>
		#filtered .content {
			display: none;
		}
		#filtered .content.active {
			display: block;
		}
	</style>
	
</head>
<body>
	<h1>loop</h1>
	<div id="filtered">
		<% data[3].forEach(function(el) { %>
			<div class="content"><%= el %></div>
		<% }); %>
	</div>
	
	<p>slider</p>
	<input id="ex19" type="text" data-provide="slider" data-slider-ticks="<%- JSON.stringify(range) %>" data-slider-ticks-labels='<%- JSON.stringify(range) %>' data-slider-min="0" data-slider-max="<%- JSON.stringify(range.length - 1) %>" data-slider-step="1" data-slider-value="0" data-slider-tooltip="hide" />
	<p id="slider_value"></p>
	
	<h1>all data</h1>
	<%- JSON.stringify(data) %>
	
	<script>
		$( document ).ready(function() {
			$('#ex19').slider().on('change', function(ev){
				$('#slider_value').html(ev.value.newValue);
				
				//Update the text content
				$('div#filtered').children().removeClass('active');
				$("div#filtered div:nth-child(" + (ev.value.newValue + 1) +")").addClass("active");
				//TODO: Update the commit message
				
				//TODO: Update the commit date
				
				
			});
			
			//TODO: Trigger a change here on the commit number 1
			
		});
	</script>
</body>
</html>