<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Alejandro del Río Santiago - Entrepreneur and engineer</title>
	<meta content="Alejandro del Río Santiago (@adelriosantiago) is an entrepreneur and programmer from Guadalajara, México. He codes, writes and designs." name="description">
	<meta content="adelriosantiago, @adelriosantiago, visualization, interaction, design, interface, startup, entrepreneur, engineer, git, blog, git-blog, gitblog" name="keywords">
	<meta content="Alejandro del Río Santiago (@adelriosantiago)" name="author">
	<meta content="width=device-width" name="viewport">
	<meta content="index, follow" name="robots">
	<meta name="description" content="Alejandro del Río Santiago entrepreneur and engineer profile page and blog" />
	<meta name="keywords" content="Alejandro del Río Santiago, adelriosantiago" />

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- CSS's -->
	<link rel="stylesheet" href="/stylesheets/foundation.css" />
	<link rel="stylesheet" href="/stylesheets/custom.css" />
	
	<!-- include the jQuery and jQuery UI scripts -->
	<script src="https://code.jquery.com/jquery-2.1.1.js"></script>

	<script src="/javascripts/bootslider.js"></script>
	<link rel="stylesheet" href="/stylesheets/bootslider.css" />
	
	<link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/custom.css" />
	
	<!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Rambla:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600,700,500' rel='stylesheet' type='text/css'/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>
	
	<!-- TODO: Move into a separate file -->
	<style>
		#filtered .gitarticle {
			display: none;
		}
		#filtered .gitarticle.active {
			display: block;
		}
		#gitslider {
			margin: 10px 5px;
		}
	</style>
	
	<!-- TODO: Move into a separate file, this is the timeline visibility classes -->
	<style>
		#gitslider-front, #commit-info {
			visibility: <%= hasTimeline ? 'visible' : 'hidden' %>;
			margin-top: 20px;
		}
	</style>
	
	<!-- TODO: Move into a separate file, this is the timeline visibility classes -->
	<style>
		.slider-tick-label {
			font-size: 11px;
		}
	</style>
	
</head>
<body>
	<!-- Load analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-43591418-3', 'auto');
		ga('send', 'pageview');
	</script>
		
	<div id="fb-root"><!-- Needed for the comments plugin --></div>
	<div class="row blogRow">
		<div class="large-2 columns">
			<div id="leftside-bio">
				<div>
					<!-- <a href="http://www.adelriosantiago.com" target='_blank'><i class="fa fa-4x fa-home"></i></a> -->
					<a href="http://www.adelriosantiago.com"><img class='round-image' src="/images/squared-profile-small.jpg"></a>
					<!-- FIXME: Check if mobile (http://detectmobilebrowsers.com/) then show a box image -->
					<!-- <h5 class='index_legend'>Alejandro del Río</h5> -->
					<!-- <p>Alejandro del Río is a mexican entrepreneur and engineer.</p> -->
					<!-- TODO: Add shadow to sidebar -->
					<p id="bio-description">Hi and welcome to my blog! My name is <strong>Alejandro del Río</strong> and I'm a mexican entrepreneur and engineer. Know more about me at my <a href="http://www.adelriosantiago.com/">homepage</a>.</p>
				</div>
				<!-- TODO: Fix the next section, why it doesn't appear? -->
				<div class='row'>
					<div class='large-6 columns'>
						<a href="http://www.adelriosantiago.com/"><i class="fa fa-3x fa-home"></i></a>
					</div>
					<div class='large-6 columns'>
						<a href="https://twitter.com/adelriosantiago" target='_blank'><i class="fa fa-3x fa-twitter"></i></a>
					</div>
				</div>
            </div>
		</div>
		<div class="large-1 columns"><!-- --></div>
		<div class="large-9 columns">
			<div id="gitslider">
				<input id="gitslider-back" type="text" data-provide="slider" data-slider-id="gitslider-front" data-slider-ticks="<%- JSON.stringify(range) %>" data-slider-ticks-labels='<%- JSON.stringify(range) %>' data-slider-min="0" data-slider-max="<%- JSON.stringify(range.length - 1) %>" data-slider-step="1" data-slider-value="0" data-slider-tooltip="hide" />
				
				<div id="filtered">
					<% Object.keys(gitBlogData).forEach(function(key){ %>
						<div class="gitarticle markdown-body">
							<div id="commit-info" class="text-right">
								<small>
									<div><strong>GitBlog</strong></div>
									<div class="hash" style="display: none;"><%= gitBlogData[key].hash %></div>
									<div class="date"><%= gitBlogData[key].date %></div>
									<div class="message"><%= gitBlogData[key].message %></div>
									<a href="https://github.com/adelriosantiago/adelriosantiago-blog/commit/<%= gitBlogData[key].hash %>" target='_blank'><i class="fa fa-2x fa-code-fork"></i></a>
									<!-- Add a button to show/hide hidden messages in the commits -->
								</small>
							</div>
							
							<div id='<%- gitBlogData[key].slug %>' class="bb-item">
								<div class="content">
									<div class="scroller">
										<div class='blog_article markdown-body'>
											<%- gitBlogData[key].content %>
											<div style="display: none;">
												<!-- Currently hidden, do we need this anyway now that this is GIT powered? -->
												<div class='write_date'><%- gitBlogData[key].month %>, <%- gitBlogData[key].year %></div>
											</div>
											<div class="fb-comments" data-href="" data-width="500px" data-numposts="10"></div>
										</div>
									</div>
								</div>
							</div>
					   </div>
					<% }); %>
				</div>
				
			</div>
		</div>
	</div>

	<script>
		var gitSlider;
		$(document).ready(function() {
			gitSlider = $('#gitslider-back').slider();
			
			gitSlider.on('change', function(ev){
				updateGitText(ev.value.newValue)
			});
			
			setSliderPosition(parseInt($('#gitslider-back').attr("data-slider-max"))); //Always go to the last commit
			
			function setSliderPosition(newPosition) {
				$('#gitslider-back').slider('setValue', newPosition);
				updateGitText(newPosition);
			}
			
			function updateGitText(newValue) {
				$('#slider_value').html(newValue);
				
				//Update the text content
				$('div#filtered').children().removeClass('active');
				$("div#filtered div:nth-child(" + (newValue + 1) +")").addClass("active");
				//TODO: Update the commit message
				
				//$('#commit_message').html(data[2][ev.value.newValue]);
				//TODO: Update the commit date
			}
		});
	</script>
	
	<!-- Load the Facebook SDK -->
	<script>
		$(".fb-comments").attr("data-href", window.location.href);
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1096286213717702";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
</body>
</html>