<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>gitarticle testing</title>
	<meta name="description" content="testing">
	<meta name="author" content="testing">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- CSS's -->
	<link rel="stylesheet" href="/stylesheets/foundation.css" />
	<link rel="stylesheet" href="/stylesheets/custom.css" />
	
	<!-- include the jQuery and jQuery UI scripts -->
	<script src="https://code.jquery.com/jquery-2.1.1.js"></script>

	<script src="/javascripts/bootslider.js"></script>
	<link rel="stylesheet" href="/stylesheets/bootslider.css" />
	
	<link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/custom.css" />
	
	<!-- TODO: Move into a separate file -->
	<style>
		#filtered .gitarticle {
			display: none;
		}
		#filtered .gitarticle.active {
			display: block;
		}
		#gitslider {
			margin: 10px 5px;
		}
	</style>
	
	<!-- TODO: Move into a separate file, this is the timeline visibility classes -->
	<style>
		#gitslider-front, #commit-info {
			visibility: <%= hasTimeline ? 'visible' : 'hidden' %>;
		}
	</style>
	
</head>
<body>
	<div class="row blogRow">
		<div class="large-3 columns">
			<div id="leftside-bio">
				<div>
					<!-- <a href="http://www.adelriosantiago.com" target='_blank'><i class="fa fa-4x fa-home"></i></a> -->
					<a href="http://www.adelriosantiago.com"><img class='round-image' src="/images/squared-profile-small.jpg"></a>
					<!-- FIXME: Check if mobile (http://detectmobilebrowsers.com/) then show a box image -->
					<!-- <h5 class='index_legend'>Alejandro del Río</h5> -->
					<!-- <p>Alejandro del Río is a mexican entrepreneur and engineer.</p> -->
					<!-- TODO: Add shadow to sidebar -->
					<p>Hi and welcome to my blog! My name is <strong>Alejandro del Río</strong> and I'm a mexican entrepreneur and engineer. Know more about me at my <a href="http://www.adelriosantiago.com/">homepage</a>.</p>
				</div>
				<!-- TODO: Fix the next section, why it doesn't appear? -->
				<!-- <div class='row'>
					<div class='large-6 columns'>
						<a href="http://www.adelriosantiago.com/"><i class="fa fa-3x fa-home"></i></a>
					</div>
					<div class='large-6 columns'>
						<a href="https://twitter.com/adelriosantiago" target='_blank'><i class="fa fa-3x fa-twitter"></i></a>
					</div>
				</div> -->
            </div>
		</div>
		<div class="large-9 columns">
			<div id="gitslider">
				<input id="gitslider-back" type="text" data-provide="slider" data-slider-id="gitslider-front" data-slider-ticks="<%- JSON.stringify(range) %>" data-slider-ticks-labels='<%- JSON.stringify(range) %>' data-slider-min="0" data-slider-max="<%- JSON.stringify(range.length - 1) %>" data-slider-step="1" data-slider-value="0" data-slider-tooltip="hide" />
				
				<div id="filtered">
					<% Object.keys(gitBlogData).forEach(function(key){ %>
						<div class="gitarticle markdown-body">
							<div id="commit-info" class="text-right">
								<small>
									<div class="hash" style="display: none;"><%= gitBlogData[key].hash %></div>
									<div class="date"><%= gitBlogData[key].date %></div>
									<div class="message"><%= gitBlogData[key].message %></div>
								</small>
							</div>
							
							<div id='<%- gitBlogData[key].slug %>' class="bb-item">
								<div class="content">
									<div class="scroller">
										<div class='blog_article markdown-body'>
											<%- gitBlogData[key].content %>
											<div style="display: none;">
												<!-- Currently hidden, do we need this anyway now that this is GIT powered? -->
												<div class='write_date'><%- gitBlogData[key].month %>, <%- gitBlogData[key].year %></div>
											</div>
										</div>
									</div>
								</div>
							</div>
					   </div>
					<% }); %>
				</div>
				
			</div>
		</div>
	</div>

	
	<script>
		var gitSlider;
		$(document).ready(function() {
			gitSlider = $('#gitslider-back').slider();
			
			gitSlider.on('change', function(ev){
				updateGitText(ev.value.newValue)
			});
			
			$('#gitslider-back').slider('setValue', 0);
			updateGitText(0);
			
			function updateGitText(newValue) {
				$('#slider_value').html(newValue);
				
				//Update the text content
				$('div#filtered').children().removeClass('active');
				$("div#filtered div:nth-child(" + (newValue + 1) +")").addClass("active");
				//TODO: Update the commit message
				
				//$('#commit_message').html(data[2][ev.value.newValue]);
				//TODO: Update the commit date
			}
		});
	</script>
</body>
</html>